{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
<div class="hero bg-neutral" id="home_hero">
    <div class="hero-content flex-col md:flex-row-reverse">
      <img src="https://res.cloudinary.com/dpm4kmh00/image/upload/v1714336283/portfolio%20assets/ashlyn_pvzsbw.jpg" class="max-w-sm max-h-50vh rounded-lg shadow-2xl md:max-h-60vh" />
      <div>
        <h1 id="name" class="text-5xl font-bold">Ashlyn May</h1>
        <h2></h2>
      </div>
    </div>
</div>

{% include "nav-home.html" %}
{% endblock %}